@model ProcedimientoEmpleadoHospital

<h1>Procedimientos OUT</h1>

<form method="post">
    <label>Código hospital: </label>
    <input type="number" name="hospitalcod"
           class="form-control" />
    <button type="submit" class="btn-light">
        Buscar empleados
    </button>
</form>
@if (Model != null)
{
    <h2 style="color:blue">
        Suma salarial: @Model.SumaSalarial
    </h2>
    <h2 style="color:red">
        Media salarial: @Model.MediaSalarial
    </h2>
    <table class="table table-bordered table-danger">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Función</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (EmpleadoHospital emp in Model.Empleados)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Funcion</td>
                    <td>@emp.Salario</td>
                </tr>
            }
        </tbody>
    </table> 
}